* {
    margin: 0;
}

body {
    background-color: grey;

}

h1 {
    text-align: center;
    font-size: 80px;
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration-line: underline;
    background-color: #000000;
    color: red;
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

img {
    margin: 10px auto;
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #000000;
}

h2 {
    font-family: "Courier New", sans-serif;
    margin: 10px;
}

ul {
    list-style: none;
}

ol {
    list-style: square;
}

li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 4px;
    text-decoration: none;
}

p {
    font-family: "Courier New", sans-serif;
    font-size: 30px;
    margin: 20px 0px 10px 10px;
}

.flex-container {
    display: flex;

}

.flex-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}