* {
    background-color: gray;
    color: #ffffff;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    body {
        width: fit-content;
    }

    .title_img {
        width: 400px;
        height: auto;
    }
}

.title {
    text-align: center;
    font-size: 80px;
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration-line: underline;
    background-color: #000000;
    color: red;
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.title_img {
    margin: 10px auto;
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #000000;
}

.recipe_list {
    list-style: none;
    text-decoration: none;
}
